;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.0.0-alpha2"]]

 :dev-http {8080 "public"}
 :builds
 {:game
  {:target :browser
   :modules {:main {:init-fn gunax.sokoban.app/init}}}}}
